/**
  reset CSS
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  text-size-adjust: none;
  height: 100%;
}

li,
ol {
  padding: 0;
  list-style: none;
}

button {
  color: inherit;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

figcaption,
figure,
main {
  display: block;
}

ul {
  list-style: none;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  display: block;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


/* NOTE: Fonts */
/* NOTE: Generic styles */
body {
  font-family: 'Nunito Sans', sans-serif;
}

.bodyContainer {
  min-height: 700px;
}


/* NOTE: layout */

.nav {
  height: 70px;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,57,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
}

#nav__icon {
  display: inline-block;
  width: 15%;
  justify-self: flex-start;
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

#nav__refs{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Righteous';
  color: white;
  font-size: 20px;
}

.nav__button{
  width: 14%;
  transition: all 1s ease;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.nav__button:hover{
  color:rgb(249, 253, 0);
  border-bottom: 1px solid white;
}

.selected {
  border-bottom: 1px solid white;
}

.nav__buttonIcon{
  height: 15px;
  width: 15px;
  margin-right: 9px;
}

#infoIcon{
  height: 17px;
  width: 17px;
  margin-top: 3px;
}

/* NOTE: Components */

/* NOTE: Footer elements*/
.mainFooter {
  background-color: rgb(38, 0, 77);
  width: 100%;
}

#mainFooter__top {
  background-color: rgb(133, 51, 255);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#mainFooter__top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainFooter__mid {
  height: 140px;
  background-color: rgb(35, 0, 70);
  display: flex;
  justify-items: center;
  align-items: flex-end;
}

#mainFooter__mid-text {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
span {
  content: "\00A9";
  font-size: 18px;
}

#mainFooter__top div {
  margin: 0 20px;
  color:white;
  font-family: 'Righteous';
}

.socialImg {
  width: 25px;
}

.socialImg:hover {
  transform: scale(1.3);
  transition: 0.4s;
}


#findBody, #mainBody, #infoBody {
  margin-top: 30px;
  margin-left: 30px;
}

#findBody__title, #mainBody__title, #infoBody__title {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom:5px;
}

#findBody__info p, #mainBody__info p, #infoBody__info p {
  color:rgb(82, 82, 82);
}


#findBody__divFind{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#findBody__divFind-input{
  width:80%
}

#findBody__divFind-find {
  background-color: blue;
  height: 44px;
  width: 7%;
  margin-bottom: 1px;
  margin-top: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#findBody__divFind-find img {
  height: 20px;
  width: 20px;
}


#findCardsText{
  width:100%;
  border: 2px solid rgb(79, 91, 255);
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 30px;
  padding: 20px;
}

#findCardsButton{
  font-family: 'Righteous';
  color: white;
  font-size: 15px;
}

.cardContainer {
  border:2px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 87%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.cardContainer-img{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 25px;
}

.cardMainName {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.cardContainer-photoCard {
  width: 230px;
}

.cardContainer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 370px;
  margin-left: 20px;
  font-family: 'Orbitron', sans-serif;
}

.cardContainer-info p {
  font-size: 10px;
}

.cardExtraInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Righteous';
  margin-bottom: 20px;
  font-size: 13px;
}

.cardFavInfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Righteous';
  margin-bottom: 20px;
  font-size: 13px;
}


.cardContainer-info-elem {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

.elem-title {
  width: 100px;
  font-weight:bolder;
}

.cardContainer-effects{
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.cardContainer-effects-favourite {
  justify-self: flex-start;
  align-self: flex-start;
}

.effect-title, .source-title {
  font-family: 'Orbitron', sans-serif;
  font-weight:bolder;
}

.source-info, .effect-info {
  display: inline-block;
  margin-top: 5px;
  letter-spacing: 1.2px;
}

/* NOTE: Warning field */
.warningField {
  border:2px solid rgb(240, 255, 27);
  background-color: rgb(255, 245, 223);
  color:rgb(235, 199, 0);

}

/* NOTE: Success field */
.infoFoundField {
  border:2px solid rgb(0, 255, 21);
  background-color: rgb(204, 255, 197);
  color:rgb(0, 109, 18);
}

/* NOTE: Info field */
.infoMainField {
  border:2px solid rgb(62, 130, 255);
  background-color: rgb(233, 236, 255);
  color:rgb(48, 85, 170);
  margin-top: 20px;
}

/* NOTE: Error field */
.errorField {
  border:2px solid rgb(255, 36, 36);
  background-color: rgb(255, 218, 213);
  color:rgb(151, 48, 0);
}

/* NOTE: Generic field */
.genericField {
  width: 87%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous';
  font-size: 18px;
  letter-spacing: 1.2px;
  visibility: hidden;
  margin-bottom: 20px;
}

/* NOTE: Black Cards */
.blackDigimonCard {
  border:2px solid rgb(20, 20, 20);
  background-color: rgb(221, 221, 221);
}

/* NOTE: Blue Cards */
.blueDigimonCard {
  border:2px solid rgb(37, 0, 172);
  background-color: rgb(208, 223, 255);
}

/* NOTE: Green Cards */
.greenDigimonCard {
  border:2px solid rgb(6, 168, 0);
  background-color: rgb(216, 255, 212);
}

/* NOTE: Purple Cards */
.purpleDigimonCard {
  border:2px solid rgb(126, 0, 151);
  background-color: rgb(255, 230, 255);
}

/* NOTE: Red Cards */
.redDigimonCard {
  border:2px solid rgb(255, 0, 0);
  background-color: rgb(255, 228, 228);
}

/* NOTE: Yellow Cards */
.yellowDigimonCard {
  border:2px solid rgb(208, 255, 0);
  background-color: rgb(254, 255, 220);
}

/* NOTE: White Cards */
.whiteDigimonCard {
  border:2px solid rgb(49, 49, 49);
  background-color: rgb(238, 238, 238);
}


/* NOTE: Combo-box Color Div */
#findBody__ComboboxDiv {
  width:80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* NOTE: Coomon cobobox properties */
.combobox-digimon select {
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(228, 242, 255);
  border: 2px solid rgb(79, 91, 255);
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 13px;
  color:rgb(78, 86, 92);
  letter-spacing: 1.5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#combobox-type {
  margin-left: 30px;
}

/* NOTE: Favourite button */
.favouriteButton {
  background-color: rgb(255, 255, 109);
  border: 3px solid rgb(185, 185, 153);
  width:150px;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Permanent Marker', cursive;
}

/* NOTE: Favourite button hover */
.favouriteButton:hover {
  background-color: rgb(255, 214, 32);
  border: 3px solid rgb(0, 0, 0);
  transition: 1s;
}

/* NOTE: Favourite button when is hidden */
.hiddenButton {
  visibility: hidden;
}
/* NOTE: Favourite img */
.favImgClass{
  width: 15px;
}

/* NOTE: Main page */
#mainBody__cardList {
  display: grid;
  grid-template-columns: repeat(4, 24.5% [col-start]);
}

#mainInfoField {
  align-self: center;
  width:97%;
}

.cardContainer-favs {
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  display:inline-block;
  margin-right: 15px;
  margin-top: 20px;
}

.cardFavName {
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}


/* NOTE: Info page */

#infoDiv {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

#infoDiv__img, #infoDiv__text {
    width: 50%;
}

#infoDiv__text {
  margin-left: 10px;
}

#infoDiv__digiPanel {
  border-radius: 8px;
}


#digi-info{
  font-size: 10px;
}

#infoDiv__img {
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  padding: 5px;
}

#infoDiv__text h1 {
  font-family: 'Orbitron', sans-serif;
  color: rgb(9, 9, 114);
  font-size: 35px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 10px 0;;
}

#infoDiv__text p {
  font-family: 'Orbitron', sans-serif;
  color: rgb(82, 82, 82);
  font-size: 16px;
  letter-spacing: 1.7px;
  margin-right: 20px;
}

#digi-official-page {
  color: rgb(79, 91, 255);
  border-radius: 5px;
  padding: 0 4px;
}

#digi-official-page:hover {
  color: rgb(44, 58, 255);
  background-color: rgb(228, 230, 255);
  transition: 0.5s;
}



#bywinfo {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: flex-start;
  margin: 100px 0;
  
}
.whiteDiv {

}

.blackDiv {
  background-color: #000;
  color: white;
  
}

.thirdDiv {
  width: 33%;
  min-height: 220px;
}

.bywinfo__title {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-family: 'Permanent Marker', cursive;
}

.textWhite {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.textBlack {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.bywinfo__content {
  margin-top: 5px;
  margin-left: 10px;
}

li {
  margin-left: 30px;
  font-size:20px;
  margin: 10px 20px
}

.blackLi {
  list-style-image: url("./images/white-arrow.png");
}

.whiteLi {
  list-style-image: url("./images/black-arrow.png");
}


@media (max-width: 767.98px) {
  #mainBody__cardList {
    grid-template-columns: repeat(1, 95% [col-start]);
    margin:20px 0;
  }
  #mainFooter__top {
    height: 200px;
  }

  nav {
    flex-wrap: wrap;
    min-height: 300px;
  }

  #nav__refs {
    flex-wrap: wrap;
  }
  #findBody__ComboboxDiv {
    flex-wrap: wrap;
    width:100%;
    min-height: 100px;
  }
  #findBody__divFind-input{
    width:60%
  }
  #findBody__divFind-find {
    width: 20%;
    justify-content: center;

  }
  .cardContainer {
    width: 87%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cardContainer-effects-favourite {
    justify-self: center;
    align-self: center;
    margin:20px 0;
  }
  .cardContainer-effects{
    height: 100%;
    flex-wrap: wrap;
  }
  .genericField {
    text-align: center;
  }
  #nav__icon {
    width: 100%;
    text-align: center;
    margin:0;
    border-bottom: 3px solid white;
  }
  #findBody__ComboboxDiv {
    min-width: 90%;
  }
  .combobox-digimon {
    margin:0 0;
  }

  #combo-color {
    margin-left: 30px;
  }

  #combo-color, #combo-type {
    width:100%;
    margin-bottom: 20px;
  }
  #mainInfoField {
    margin-left: 0;
    width:91%

  }
 }







